<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <meta name="author" content="" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                            <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="about">За нас</a>
                            <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="contact">Контакти</a>
                            <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="faq">Често задавани въроси</a>
                            <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="pricing">Цени</a>
                            <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Вход</a>
                            <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Courses" asp-action="Courses">Курсове</a>
                        </ul>
                    </div>
                </div>
        </nav>
    </header>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
@RenderBody()
</html>
